$color-brand-green: #00380b;
$color-brand-green-light: #71A581;
$color-brand-red: #821119;
$color-brand-red-light: #ad000c;

// library overwrites
$fa-font-path: '../../../node_modules/@fortawesome/fontawesome-free/webfonts';
$sidebar-nav-link-active-icon-color: $color-brand-green-light;
$sidebar-nav-link-hover-bg: $color-brand-green-light;