//@TODO these are defined in two places:
// These are the official brand colors
$color-brand-green: #00380b;
$color-brand-red: #821119;
// @see https://material.io/tools/color
$color-brand-green-light: #316333;
$color-brand-red-light: #b84540;