@import 'variables';

@import 'dist/reveal.scss';
@import 'dist/theme/black.scss';
@import '../../../node_modules/csshake/scss/csshake.scss';

@font-face {
  font-family: 'oswaldregular';
  src: url('fonts/Oswald-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'oswaldlight';
  src: url('fonts/Oswald-Light.ttf')  format('truetype');
}

html,
body {
  margin: 0;
  padding: 0;
  color: #ffffff;
}

body {
  &.iframe {
    background: #060606 url(/img/screen/bg-iframe.jpg) 50% 0 no-repeat;
  }

  &.screen {
    background: #000000 url(/img/screen/bg-kohle.jpg) 50% 0 no-repeat;
  }
}

img {
  border: 0 !important;
  margin: 0 !important;
}

table {
  background-color: rgba(0,0,0,.5);
}

.bg-green-light {
  background-color: $color-brand-green-light;
}

.reveal {
  font-size: 28px !important;
}

.title {
  margin: 0;
}

.title-container {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 40px #000;
}

.effect-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.effect-rubberduck {
  margin-top: 170px;
}

.screen-content {
  top: 70px;
  position: relative;
  display: block;
}

.screen-iframe {
  box-shadow: 0 0 20px 10px rgba(255,255,255,.3);
  padding: 0;
  width: 896px;
  margin: 100px auto 0;
}