###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> electron ###
electron/dist/
electron/package-lock.json
###< electron ###

###> node_modules ###
node_modules/
###< node_modules ###

###> application ###
.idea/
public/audio/
!public/audio/silence.mp3
public/bundles/
public/media/
!public/media/screen/.gitkeep
release-bundle.tgz
###< application ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> docker ###
docker/data/*
###< docker ###
###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
