.idea/
app/config/parameters.yml
electron/dist/
electron/package-lock.json
node_modules/
public/bundles/
public/media/screen/
!public/media/screen/.gitkeep
var/
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
vendor/
