.compare .clearfix {
    margin-bottom: 50px;
}

.compare .logo {
    float: left;
    margin-left: 98px;
}

.compare .row {
    width: 896px;
    margin-bottom: 2px;
}

.compare .row > div {
    float:left;
}

.compare .row > .home {
    width: 346px;
    text-align: right;
    margin-right: 2px;
}

.compare .row > .middle {
    width: 200px;
}

.compare .row > .away {
    width: 346px;
    text-align: left;
    margin-left: 2px;
}

.compare .redbg,
.compare .greenbg{
    padding: 3px 10px !important;
}