.schedule table {
    font-size: 18px;
    background-color: rgba(30,30,30,.8);
    color: #CCC;
    width: 800px;
}

.schedule tr {
    height: 50px;
}

.schedule td {
    height: 50px;
    line-height: 50px;
    padding: 10px 15px !important;
    border-bottom: 0 !important;
}

.schedule td:first-child {
    vertical-align: middle;
    line-height: 25px;
}

.schedule img {
    padding: 0 20px 0 20px;
}