<section class="content" data-background="{{ asset('img/bg.png') }}" data-fullscreen>
    <div class="greenbg caption" id="caption">{{ title | default('') }}</div>
    <div>{{ content | raw }}</div>
</section>