<section class="image" data-background="#000">
    {% for image in images %}
        <section data-background="{{ asset('media/' ~ image) }}"
                 {% if not loop.last or (extimages is defined and extimages|length > 0) %}data-autoslide="{{ timer | default('10') }}000"{% endif %}>
        </section>
    {% endfor %}
    {% if extimages is defined %}
        {% for image in extimages %}
            <section data-background="{{ image }}"
                     {% if not loop.last %}data-autoslide="{{ timer | default('10') }}000"{% endif %}>
            </section>
        {% endfor %}
    {% endif %}
</section>