{% extends 'admin/base.html.twig' %}
{% import 'admin/macro/bytesToSize.html.twig' as bytes %}

{% block body_content %}
    <div class="card">
        <div class="card-header">
            <i class="far fa-sun"></i> Einstellungen
        </div>
        <div class="card-body">
            Volume 0 10 20 30 40 50 60 70 80 90 100
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <i class="far fa-play-circle"></i> Musik
        </div>
        <div class="card-body">
        </div>
    </div>
{% endblock %}