{% extends 'admin/base.html.twig' %}

{% block body_content %}
    <p class="alert alert-danger">
        Der nächste Knopf erzwingt einen kompletten Reload aller Screens des Leinwand-Clients. Dies kann
        beispielsweise erforderlich sein, wenn während des Spiels noch Bilder geändert werden und kein direkter
        Zugriff auf den Leinwand Rechner besteht.
    </p>
    <a href="{{ path('admin.reload', {force: 1}) }}"><button class="btn btn-success"><i class="fa fa-refresh"></i> Reload erzwingen</button></a>
{% endblock %}