{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        <li><a href="{{ path('admin.index') }}">Admin</a></li>
        <li><a href="{{ path('screen.index') }}">Screen</a></li>
    </ul>
{% endblock %}