<!DOCTYPE html>
<html style="padding:0; margin:0; border:0;">
<head>
    <meta charset="UTF-8">
    <title>Leinwand</title>
</head>
<body style="padding:0; margin:0; border:0; line-height: 0;">
    <iframe id="screen-frame" name="screen-frame" src="https://leinwand.herner-ev.com/screen/frame" width="896" height="512" scrolling="no" frameborder="0" class="wrapper"></iframe>
    <script>
        const ipc = require('electron').ipcRenderer;
        ipc.on('force-reload', (event, message) => {
            console.log('[IPC] on force-reload');
            document.getElementById('screen-frame').src = process.env.URL + '/screen/frame';
        })

        if (process.env.NODE_ENV === 'development') {
            document.getElementById('screen-frame').src = process.env.URL + '/screen/frame';
        }
    </script>
</body>
</html>