{% extends 'admin/base.html.twig' %}

{% block body_content %}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <i class="far fa-list-alt"></i>Cronjob Logs</div>
                <div class="card-body">
                    @TODO
                </div>
            </div>
        </div>
    </div>
{% endblock %}