.livegame {
    height: 100%;
    position: absolute;
    padding: 0 !important;
}

.livegame .score > div {
    width: 100%;
    position: absolute;
    top: 50%;
    height: 200px;
    margin-top: -130px;
}

.livegame .score > div > div {
    float: left;
}

.livegame .goals {
    font-family: "Source Sans Pro", Helvetica, sans-serif !important;
    font-weight: bold !important;
    font-size: 200px !important;
    width: 39%;
    line-height: 200px;
    text-align: center;
}

.livegame .logo {
    width: 30%;
}

.livegame .sponsoren {
    padding: 5px 0 !important;
    color: #111 !important;
    height: 100px !important;
    font-weight: bold !important;
    text-shadow: none !important;
}

.livegame .sponsoren img {
    box-shadow: none !important;
    padding-right: 10px;
}

.livegame .ticker {
    padding: 5px 0;
}

.livegame .ticker > div:last-child {
    float: left;
    width: 20%;
    z-index: 10;
}

.livegame #ticker {
    float: right;
    width: 79%;
    text-shadow: none;
}