{% extends 'admin/base.html.twig' %}

{% block body_content %}
    <p class="alert alert-danger">
        Zwischen den Konfigurationen für Erste Mannschaft und Nachwuchs umschalten.
    </p>

    <a href="{{ path('admin.category', {category: 0}) }}">
        <button class="btn btn-{% if category == 0 %}default{% else %}success{% endif %}"><i class="fa fa-exchange"></i> Erste Mannschaft</button>
    </a>
    <a href="{{ path('admin.category', {category: 1}) }}">
        <button class="btn btn-{% if category == 1 %}default{% else %}success{% endif %}"><i class="fa fa-exchange"></i> Nachwuchs</button>
    </a>
{% endblock %}