// These are the official brand colors
$color-brand-green: #00380b;
$color-brand-red: #821119;

// @see https://material.io/tools/color
$color-brand-green-light: #316333;
$color-brand-red-light: #b84540;
$color-brand-green-lighter: #5e915d;
$color-brand-red-lighter: #ef756b;