// These are the official brand colors
$color-brand-green: #11381b;
$color-brand-red: #af1011;

// @see https://material.io/tools/color
$color-brand-green-light: #3b6342;
$color-brand-red-light: #e84e3a;
$color-brand-green-lighter: #67916d;
$color-brand-red-lighter: #ff8166;